{% extends "base.html" %}

{% block main %}

<h1 class="page-header">Create New Property</h1>

<form id="property-form" action="{{ url_for('new_property') }}" method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}

    <div class="form_title">
        <p class="form-title">{{ form.title.label }}</p>
        {{ form.title(class="form-title") }}
    </div>

    <div class="form_description">
        <p class="form-title">{{ form.description.label }}</p>
        {{ form.description(class="form-description") }}
    </div>

    
    <div class="grid">
        <div class="form_rooms">
            <p class="form-title">{{ form.rooms.label }}</p> 
            {{ form.rooms(class="form-rooms", placeholder="4") }}
        </div>

        <div class="form_bathrooms">
            <p class="form-title">{{ form.bathrooms.label }}</p> 
            {{ form.bathrooms(class="form-bathrooms", placeholder="2") }}
        </div>

        <div class="form_price">
            <p class="form-title">{{ form.price.label }}</p> 
            {{ form.price(class="form-price", placeholder="30,000,000") }}
        </div>

        <div class="form_type">
            <p class="form-title">{{ form.type.label }}</p>
            {{ form.type(class="form-type", placeholder="House") }}
        </div>
    </div>

    <div class="form_location">
        <p class="form-title">{{ form.location.label }}</p>
        {{ form.location(class="form-location", placeholder="5 Musgrave Drive") }}
    </div>

    <div class="form_photo">
        <p class="form-title">{{ form.photo.label }}</p>
        {{ form.photo(class="form-photo") }}
    </div>

    <button name="submit" type="submit" class="btn">Add Property</button>
</form>

{% endblock %}