{% extends "base.html" %}

{% block main %}
<h1 class="page-header">Showing Available Properties</h1>

{% include 'flash_messages.html' %}

<div class="properties">

    {% for property in properties %}
    <div class="property">
        <img src="{{ url_for('get_uploaded_images', filename=property.photo) }}" alt ="Property Photo"> <br />
        <p class="p-title">{{ property.title }}</p>
        <p class="p-location">{{ property.location }}</p>
        <div class="money">
        <p class="p-price">${{ property.price }}</p>
        </div>
        <div class="link">
        <a href="{{ url_for('specific_property', property_id=property.id) }}" class="click">View Property</a>
        </div>
        
    </div>
    {% endfor %}
</div>

{% endblock %}